<h1>Ball Drop</h1>

<h3>User <%= @ip %></h3>

<form method="POST" action="/right">
  <input type="submit" value="right">
</form>

<form method="POST" action="/up">
  <input type="submit" value="up">
</form>

<form method="POST" action="/down">
  <input type="submit" value="down">
</form>

<form method="POST" action="/left">
  <input type="submit" value="left">
</form>

<form method="POST" action="/connect">
  <input type="submit" value="connect">
</form>

<form method="POST" action="/disconnect">
  <input type="submit" value="disconnect">
</form>


<form method="POST" action="/info">
  <input type="submit" value="identify">
</form>