<h1>Ball Drop Client</h1>

<ul>
  <li><a href="#">Connect</a></li>
  <li><a href="#">Disconnect</a></li>
</ul>

<h3>User: <%= /([0-9\-]*)/.match(@ip)[1] %> <a href="#">Identify Paddle</a></h3>

<ul id="arrow-keys">
  <li>☝</li>
  <li>☟</li>
  <li>☞</li>
  <li>☜</li>
</ul>