<h1>Ball Drop</h1>

<h3>User <%= @ip %></h3>

<form method="POST" action="/r">
  <input type="submit" value="right">
</form>

<form method="POST" action="/u">
  <input type="submit" value="up">
</form>

<form method="POST" action="/d">
  <input type="submit" value="down">
</form>

<form method="POST" action="/l">
  <input type="submit" value="left">
</form>

<form method="POST" action="/connect">
  <input type="submit" value="connect">
</form>

<form method="POST" action="/x">
  <input type="submit" value="disconnect">
</form>


<form method="POST" action="/i">
  <input type="submit" value="identify">
</form>